
.page {
    display: flex;
    height: 100vh;
    &__side {
      flex: 1; 
      padding: 20px;
      overflow-y: auto; 

      &--left {
        background-color: #f0f0f0;
        border-right: 1px solid #ccc;
    }

    &--right {
      background-color: #ffffff;
  }
  }
}

/* Responsive Styles for 780px and below */
@media (max-width: 780px) {
  .page {
    flex-direction: column;
  }
}
