<div class="page">
    <div class="page__side page__side--left">
        <app-tree-panel
            [$catalog]="$catalog"
            [selectedNode]="selectedNode"
            (onNodeDrop)="onNodeDrop($event)"
            (onNodeExpand)="onNodeExpand($event)"
            (onNodeSelected)="onNodeSelected($event)"
            (onNodeCreateItems)="onNodeCreateItems($event)"
        ></app-tree-panel>
    </div>
    <div class="page__side page__side--right">
        <app-editor-panel 
        [selectedNode]="selectedNode"
        (onSaveNodeChange)="onSaveNodeChange($event)"
        ></app-editor-panel>
    </div>
</div>
